### Introduction to pandas
#### Series Data Structures

In [6]:
import pandas as pd

In [7]:
students = ['Alice','Jack','Molly']

pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [8]:
numbers = [1,2,3]

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [15]:
students = ['Alice','Jack',None]

pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [17]:
numbers = [1,2,None]

pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [18]:
import numpy as np

np.nan == None

False

In [19]:
np.nan == np.nan

False

In [20]:
np.isnan(np.nan)

True

In [22]:
students_scores = {
    'Alice':'Physics',
    'Jack':'Chemistry',
    'Molly':'English'
}

s = pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [23]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [24]:
students = [('Juan','Herrera'),('Maria','Valencia'),('Kylian','Mbappe')]

pd.Series(students)

0      (Juan, Herrera)
1    (Maria, Valencia)
2     (Kylian, Mbappe)
dtype: object

In [25]:
pd.Series(['Physics','English','Chemistry'],index=['Alice','Jack','Bob'])

Alice      Physics
Jack       English
Bob      Chemistry
dtype: object

In [26]:
students_scores = {
    "Alice":"Chemistry",
    "Bob":"Cryptography",
    "Molly":"Mathematics"
}

pd.Series(students_scores, index = ['Alice','Bob','Jack'])

Alice       Chemistry
Bob      Cryptography
Jack              NaN
dtype: object